/src/Tabkit.App/bin/Debug
/src/Tabkit.App/bin/Release
/src/Tabkit.App/obj/Debug
/src/Tabkit.App/obj/Release
/src/Tabkit.Cli/bin/Debug
/src/Tabkit.Cli/bin/Release
/src/Tabkit.Core/obj/Debug
/src/Tabkit.Core/obj/Release
/tests/Tabkit.Tests/bin/Debug
/tests/Tabkit.Tests/bin/Release
/tests/Tabkit.Tests/obj/Debug
/tests/Tabkit.Tests/obj/Release
